@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;

		--sb-green-100: #01a862;
		--sb-green-150: #09743e;
		--sb-green-200: #036140;

		--sb-gray-ipnut: #f5f5f5;
		--sb-gray-0: #e0e0e0;
		--sb-gray-100: #a5a5a5;
		--sb-gray-200: #6f6f6f;

		--sb-red-100: #da5d54;

		--sb-blue-100: #3182f7;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.hidden-scroll {
		overflow: auto; /* Allows scrolling */
		-ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
		scrollbar-width: none; /* Hides scrollbar for Firefox */
	}
	.hidden-scroll::-webkit-scrollbar {
		display: none; /* Hide the scrollbar */
	}

	.hidden-x-scroll {
		overflow-x: auto; /* Allows scrolling */
		-ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
		scrollbar-width: none; /* Hides scrollbar for Firefox */
	}
	.hidden-x-scroll::-webkit-scrollbar {
		display: none; /* Hide the scrollbar */
	}

	.hidden-y-scroll {
		overflow-y: auto; /* Allows scrolling */
		-ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
		scrollbar-width: none; /* Hides scrollbar for Firefox */
	}
	.hidden-y-scroll::-webkit-scrollbar {
		display: none; /* Hide the scrollbar */
	}

	ul.input-desc {
		@apply flex flex-col gap-2;
	}
	ul.input-desc li::before {
		@apply left-0 mb-2 absolute content-['*'];
	}
	ul.input-desc li {
		@apply relative text-[12px] text-sb-gray-100 pl-3 text-pretty;
	}

	.error-text {
		@apply text-sb-red-100 text-xs pl-[4px];
	}

	.abs-center-x {
		@apply absolute left-1/2 translate-x-[-50%];
	}
	.abs-center-y {
		@apply absolute top-1/2 translate-y-[-50%];
	}
	.abs-center {
		@apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
	}
}
